.footerfooter {
    height: 100%;
    line-height: 60px;
    background-color: #2F4785 !important;
} 

.footerfooter-text {
    color: white !important;
    font-family: 'Avenir LT Std 85 Heavy';
}

.footer-image {
    height: px;
    width: 160px;
}