.cover-page {
    background: url('../assets/images/background7.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}

.doctors-background {
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}

.jumbotron-content {
    padding-top: 3%;
}

.jumbotron-title {
    color: #B22F37;
    font-size: 55px !important;
    font-weight: 800 !important;
    font-family: 'Avenir LT Std 65 Medium';
    text-align: left;
}

.jumbotron-body {
    color: #33384e;
    font-size: 30px !important;
    font-family: 'Avenir LT Std 65 Medium';
}

.img-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top-2 {
    margin-top: 10%;
    width: 125px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-deck {
    padding-top: 2%;
}

.card {
    border: none;
    padding-bottom: 0% !important;
    margin-bottom: 0% !important;
}

.card-title {
    font-size: 27px;
}

.badge {
    font-size: 15px;
}

.col {
    padding-left: 0% !important;
}

.description-cards {
    padding-top: 5%;
    padding-bottom: 5%;
}

.doctor-image {
    width: 180px;
    height: 195px;
    align-content: center;

    margin: auto;
    padding-top: 10px;
}